.headerStyle {
    width: 100%;
    height: 6.25rem;      
    background-color: var(--bg-primary);
    margin: 0;
    max-width: 100%;
}

.headerContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 10rem 0rem 10rem;
    font-size: 1.3rem;
    color: var(--text);
}

.headerLogo{
    color: #226ED8;
}

#themeSwitch{
    display: none;
}

.switchLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 5%;
    height: 30px;
    background-color: #FFC93F;
    background-image: linear-gradient(to right, #FFC93F, #FFE03F);
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.switchLabel::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: transform 0.3s;
}

.switchInput:checked + .switchLabel {
    background-color: #4D4D4D;
    background-image: linear-gradient(to right, #4D4D4D, #6E6E6E);
}

.switchInput:checked + .switchLabel::after {
    transform: translateX(30px);
}


@media (max-width: 375px) {
    .headerStyle {
        width: 100%;
        height: 3.25rem;
        background-color: #226ED8;
        margin: 0;
        max-width: 100%;

    }
}