.headerStyle {
    width: 100%;
    height: 6.25rem;      
    background-color: #226ED8;
    margin: 0;
    max-width: 100%;

}

@media (max-width: 375px) {
    .headerStyle {
        width: 100%;
        height: 3.25rem;
        background-color: #226ED8;
        margin: 0;
        max-width: 100%;

    }
}