*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


@media (max-width: 375px) {
    body {
        width: 100%;
        height: auto;
       
    }
}