*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}


:root{
    --bg-primary: hsl(222, 66%, 53%);
    --bg-card: #FFFFFF;
    --text: #F5F5F5;
    --text-color: #111111;
    --color-daily-icon: #FBB910;
    --bg-icon: #FFF5C0;
    --icon-border: #FFFCEE;
    --bg-body: #FAFAFA;
    --bg-footer: #3867D6;
    --bg-cards: #EEEEEE;
    
}

[data-theme='dark']{
    --bg-primary:#333333;
    --bg-card:#3D3D3D;
    --text: #3867D6;
    --text-color: white;
    --bg-icon: #3D3D3D;
    --icon-border: #515151;
    --color-daily-icon: #FFFFFF;
    --bg-body: #222222;
    --bg-footer: #111111;
    --bg-cards: #333333;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-body);
    color: var(--text-main);
    transition: background-color 0.3s ease, color 0.3s ease;
}



@media (max-width: 376px) {
    body, html {
        width: 100%;
        height: auto;
        margin: 0;
        overflow-x: hidden;
    }
}

