*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}


:root{
    --bg-primary: #3867D6;
    --bg-card: #F5F5F5;
    --text: #F5F5F5;
    --color-daily-icon: #FBB910;
    --bg-icon: #FFF5C0;
    --icon-border: #FFF5C0;
    --bg-daily: #F5F5F5;
}

[data-theme='dark']{
    --bg-primary:#333333;
    --bg-card:#222222;
    --text: #3867D6;
    --text-color: white;
    --bg-icon: #3D3D3D;
    --icon-border: #515151;
    --color-daily-icon: #FFFFFF;
    --bg-daily: #3D3D3D;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-card);
    color: var(--text-main);
    transition: background-color 0.3s ease, color 0.3s ease;
}



@media (max-width: 375px) {
    body {
        width: 100%;
        height: auto;
       
    }
}

