#loginImage {
    width: 29.75rem;    
    height: 29.0625rem;   
    margin-top: 3.25rem; 
    border-right: 2.5px solid #9CC7FBB2;
}
#tituloLogin{
    font-size: 3rem;
    color: #226ED8;
    margin-bottom: 2rem;
}
#recuperacaoLogin{
    color: #226ED8;
    font-size: 0.7rem;
    margin-top: 0.2rem;
    cursor: pointer;
    text-decoration: underline;
}
#criarConta{
    color: #226ED8;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: underline;
}

.loginScreen{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    
}

.input-email{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.input-senha{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.botao-entrar{
    margin-top: 1rem;
}