.divTituloCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
}
.divContainer{
    width: 100%;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}