.divContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Fundo escurecido */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.divCard{
    width: 40%;
    height: 26.313rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    font-size: 0.79rem;   
    padding: 2rem; 
}

.divTituloCard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 25%;
}


.btnCriarTask{
    width: 100%;
}

.txtAreaDesc{
    border-radius: 0.5rem;
    resize: none;
    border: none;
    margin: 1rem;
}

.inpTitulo{
    border: none;
    margin: 1rem;
    width: 100%;
}

.txtAreaDesc{
    padding: 0.3rem;
    height: 7rem;
}

.Titulo{
    font-size: 1.25;
    font-family: Poppins;
    color: #3867D6;
}