.input-padrao {
    width: 23.375rem;     
    height: 2.5rem;   
    border-radius: 0.5rem; 

    border: 1px solid #002D6C; 

    padding-left: 0.5rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.input-wrapper{
    position: relative; 
    display: flex;
    align-items: center;
}

.buttonEye{
    position: absolute;
    right: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #002D6C;
    display: flex;
    align-items: center;
}

.input-padrao.input-erro{
    border-color: #820000;
    background-color: #FFE5E5;
    font-size: 0.8rem;
}

.input-erro{
    font-size: 0.1rem;
}

.erroMessage{
    color:#820000;
    font-size: 0.75rem;
    
}