.footer-container{
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-footer);
    padding: 0rem 3rem 0rem 3rem;
    color: var(--text);
}