#tituloCadastro{
    font-size: 3rem;
    color: #226ED8;
}


.cadastroTela{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.cadastroImage{
    margin: 2rem;
    margin-left: 4rem;
    width: 27.5rem;
    height: 27rem;
    border-left: 1px solid #9CC7FBB2;
}

.cadastroForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botao-criar-cadastro{
    margin-top: 1rem;
}

.erroMessage{
    color:#820000;
    font-size: 0.75rem;
}




@media (max-width: 375px) {
    .cadastroTela {
        flex-direction: column;
        height: auto;
        padding: 1rem; 
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .cadastroImage {
        display: none;
    }

    .cadastroForm {
        width: 100%;
        max-width: 100%;
        padding: 0;
        align-items: center;
    }
    #tituloCadastro {
        font-size: 1.8rem;
        margin-top: 1rem;
    }
}