.tituloQuadros{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
    font-size: 1.5rem;
}

.quadroReadyContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.containerCards{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-cards);

}
