.dailyMessageContainer{
    background-color: var(--bg-card);
    width: 38.75rem;
    height: 7.438rem;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    margin-left:8rem;
    padding: 0.5rem;
    border-radius: 1rem;
}


.dailyText{
    font-size: 0.875rem;
    margin-left: 1rem; 
}

.quadrosContainer{
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}





@media (max-width: 376px) {
    .dailyMessageContainer {
        width: 100%;
        background-color: #226ED8;
        margin: 0;
        max-width: 100%;
    }
}