.dailyMessageContainer{
    background-color: var(--bg-card);
    width: 40%;
    height: 7.438rem;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    margin-left:8rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

.dailyText{
    font-size: 0.875rem;
    margin-left: 1rem; 
}

.quadrosContainer{
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    
}

.kanbanPage{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.kanbanMain {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
}
footer{
    flex-shrink: 0;
}

@media (max-width: 376px) {
    .dailyMessageContainer {
        width: 90%;
        background-color: var(--bg-card);
        margin: 5%;
        max-width: 100%;
    }
    .dailyText{
        font-size: 80%;
    }
    .quadrosContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
}