.botaoStyle {
    width: 23.375rem;     
    height: 2.8125rem;     
    background-color: #226ED8;
    border-radius: 1.25rem; 
    border: 1px solid #226ED8;
    color: white;
    
    cursor: pointer;
    font-weight: 600; 
}

@media (max-width: 375px) {
    .botaoStyle {
        width: 100%;
        height: 2.5rem;
        background-color: #226ED8;
        border-radius: 1.25rem;
        border: 1px solid #226ED8;
        color: white;
        cursor: pointer;
        font-weight: 600;
    }
}